<template>
  <v-container fluid fill-height>
    <v-dialog
      v-model="successDialog"
      style="z-index: 2000;"
      persistent
      width="500">
      <v-card>
        <v-card-actions>
          <v-container grid-list-lg>
            <v-layout column pa-3 text-xs-center>
              <v-flex>
                <i class="fas fa-5x fa-check-circle light-green--text"></i>
              </v-flex>
              <v-flex class="headline grey--text text--darken-2">
                {{resp['file_name']}} uploaded successfully
              </v-flex>
              <v-flex class="body-2 grey--text text--darken-1">
                Job Tracking ID
              </v-flex>
              <v-flex class="display-1 light-green--text font-weight-bold text-no-wrap">
                {{resp['job_id']}}
              </v-flex>
              <v-flex xs12 text-xs-center ma-2>
                <v-btn
                  flat dark
                  class="orange"
                  @click="successDialog = false">
                  Close
                </v-btn>
                <v-btn
                  flat dark
                  class="green"
                  @click="track">
                  See progress
                </v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout row>
      <v-layout
        pa-3
        justify-center
        align-start>
        <v-flex xs12 sm8 md6 lg5 text-xs-center>
          <div
            class="white--text font-weight-thin display-3 mb-5"
          >
            PDF2TEXT
          </div>
          <v-card class="pa-4 text-xs-center">
            <div class="mb-3">
              <dropzone
                v-on:vdropzone-success="uploadCallback"
                ref="dropzone"
                :options="dropOptions"
                id="customdropzone">
              </dropzone>
            </div>
            <v-btn
              block
              outline large
              class="blue--text blue"
              @click="submit"
            >
              Submit a new job
            </v-btn>

            <div class="mt-4"></div>
            <v-divider></v-divider>
            <div class="mb-4"></div>

            <div class="headline font-weight-medium grey--text">
              Track current progress
            </div>
            <v-text-field
              outline
              :error="error !== ''"
              error-message="Tracking ID is required"
              v-model="trackId"
              class="mt-4"
              label="Tracking ID"
              ></v-text-field>
            <v-btn
              block
              @click="track"
              flat dark
              class="light-green"
              >
              Go
            </v-btn>
          </v-card>
        </v-flex>
      </v-layout>
    </v-layout>
  </v-container>
</template>

<script>
  /* eslint-disable camelcase */

  import Dropzone from 'nuxt-dropzone'
  import 'nuxt-dropzone/dropzone.css'

  export default {
    name: 'Home',
    components: {Dropzone},
    mounted: function () {
      this.dropzone = this.$refs.dropzone
      // const prod = process.env.NODE_ENV === 'production'
      // this.WEB_CTRL_URL = prod ? 'controller:9001' : 'http://localhost:9001'
    },
    data () {
      return {
        dropzone: null,
        error: '',
        jobId: '',
        resp: {},
        successDialog: null,
        trackId: '',
        dropOptions: {
          // url: 'api/submitjob',
          url: '/api/submitjob',
          withCredentials: true,
          paramName: 'tarball',
          addRemoveLinks: true,
          acceptedFiles: ['application/tar+gzip', 'application/x-gzip'
          ].join(','),
          dictResponseError: '',
          dictDefaultMessage: `
          <div class="title">
            <i class="fa-3x fas fa-file-archive"></i>
          </div>
          <br/>
          <div class="title font-weight-thin grey--text">
          Drag file here
          <div class="mb-2"></div>
          or click to upload
          </div>
          `,
          maxFiles: '1',
          dictInvalidFileType: 'Only .tar.gz is accepted',
          autoProcessQueue: false
        }
      }
    },
    methods: {
      uploadCallback (file, resp) {
        this.successDialog = true
        this.resp = resp
        this.trackId = resp['job_id']
      },
      submit () {
        // console.log(this.dropzone)
        this.dropzone.processQueue()
      },
      track () {
        if (this.trackId !== '') {
          this.$router.push(`/track/${this.trackId}`)
        } else {
          this.error = 'Tracking ID required'
        }
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }

  .vue-dropzone {
    border-radius: 0.5em;
  }

</style>
