<template>
  <v-container
    fluid
    fill-height>
    <v-dialog
      v-model="notFound"
      style="z-index: 2000;"
      persistent
      width="500">
      <v-card>
        <v-card-title class="grey lighten-3 display-1">
          Job not found!
        </v-card-title>
        <v-card-actions class="pa-5 text-xs-center">
          <v-layout column>
            <v-flex mb-3>
              <div class="headline">
                Make sure the ID is correct
              </div>
            </v-flex>
            <v-flex>
              <v-btn
                block class="green white--text"
                @click="back"
              >
                Back
              </v-btn>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout
      fill-height
      justify-center
      align-start
      >
      <v-flex xs10 md8>
        <div
          class="white--text text-xs-center font-weight-thin display-3 mb-5"
        >
          PDF2TEXT
        </div>
        <v-card>
          <v-layout column>
            <v-flex pa-3 pt-5 pb-5 class="grey lighten-4">
              <v-layout row>
                <v-flex xs12 md8>
                  <span class="text-xs-left grey--text text--darken-3">
                    <span class="title font-weight-thin">Track job</span>
                    <div class="display-2">{{id}}</div>
                  </span>
                </v-flex>
                <v-flex
                  v-if="completed"
                  xs12 md4 pt-3
                  text-xs-right
                >
                  <v-btn class="primary" depressed>
                    download
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
          <div class="ma-5"></div>
          <div class="white--text pr-3 pl-3 pb-3">
            <vue-simple-progress
              size="large"
              :text="`${percent}%`"
              text-position="middle"
              bar-color="#9ACA62"
              :val="percent"
            ></vue-simple-progress>
          </div>
          <div class="text-xs-left pl-3 mt-4 title">
              Progress
          </div>
          <div class="pa-3">
            <v-data-table
              :headers="headers"
              :items="progress"
              class="elevation-1"
              hide-actions
              >
              <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{props.item.filename}}</td>
                <td class="text-xs-center text-capitalize">
                  <v-layout>
                    <v-flex xs8>
                      {{props.item.status}}
                    </v-flex>
                    <v-flex xs4>
                      <v-icon
                        v-if="props.item.status === 'waiting'"
                        class="orange--text">far fa-hourglass fa-spin</v-icon>
                      <v-icon
                        v-else-if="props.item.status === 'extracted'"
                        class="blue--text">fas fa-spinner fa-spin</v-icon>
                      <v-icon
                        v-else
                        class="light-green--text">fa-check</v-icon>
                    </v-flex>
                  </v-layout>
                </td>
              </template>
            </v-data-table>
          </div>
          <div class="text-xs-left pa-3">
            <v-btn
              class="orange white--text"
              flat
              @click.prevent="back"
            >
              <v-icon>fa-chevron-left</v-icon>&nbsp; Back
            </v-btn>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import io from 'socket.io-client'
  import _ from 'lodash'
  import play from '../api/api'

  export default {
    name: 'Tracker',
    beforeRouteLeave: function (to, from, next) {
      if (this.socket) {
        this.socket.emit('leave')
        this.socket.disconnect()
        this.socket.close()
      }
      next()
    },
    mounted: function () {
      // Connect to Socket
      // Check if job exist
      const ID = this.$route.params.id
      play.post('/getJob', {
        job_id: ID
      })
        .then(({status, data}) => {
          const {found} = data
          if (found) {
            this.id = ID
            const url = process.env.NODE_ENV === 'production' ? '/apimaster' : 'localhost:3000/'
            const socket = io(url)
            socket.emit('join', {room: ID})
            socket.on('json', data => {
              // console.log('new data', data)
              const {compression_complete: completed, files} = data
              if (files) {
                this.progress = _.reduce(files, (acc, v, k) => {
                  return k.includes('.pdf') ? acc.concat({filename: k, status: v}) : acc
                }, [])
                this.percent = ((_.filter(this.progress, o => o.status === 'parsed').length / this.progress.length) * 100).toFixed(2)
              }
              this.completed = completed === 'True'
            }) // END SOCKET ON
          } else {
            this.notFound = true
          }
        })
        .catch(() => {
          this.notFound = true
        })
    },
    data () {
      return {
        completed: false,
        headers: [
          {
            text: 'File name'
          },
          {
            text: 'Status'
          }
        ],
        progress: [
          // {
          //   filename: 'xxx.txt',
          //   status: 'extracted'
          // }
        ],
        socket: null,
        id: null,
        percent: 0,
        notFound: null
      }
    },
    methods: {
      back () {
        this.$router.push('/')
      }
    }
  }
</script>

<style scoped>

</style>
